<div id="headerFrame">
    <div id="brandingContainer">
        <a href="./"><img src="images/final_frontier_white.png" alt="Final Fronteir Logo"></a>
        <h1>Project Travel Through Space</h1>
    </div>
    <div id="rightNav">
        <div id="projectSupport">
            <ul class="supportNav">
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support.html">Support Project</a></li>
            </ul>
        </div>
        <div id="searchBar">
            <input type="text" placeholder="Search..">
        </div>
    </div>
</div>
<nav>
    <ul id="navBar">
        <li onclick()><a href="./">Home</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="our_solar_system.html">Our Solar System</a></li>
         <li><a href="downloads.html">Downloads
                <ul class="sub-nav">
                    <li><a href="downloads/ebooks.html">E-Books</a></li>
                    <li><a href="downloads/podcast.html">Podcast</a></li>
                    <li><a href="downloads/apps.html">Apps</a></li>
                    <li><a href="downloads/sound-bits.html">Sound Bits</a></li>
                </ul>
            </a>
    </ul>
</nav>