@import  url("https://fonts.googleapis.com/css?family-Open+Sans");

html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #212121;
}
.container nav {
    background-color: rgba(0, 0, 0, 0.338);
    width:100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans", sans-serif;
    color: white; */
}

.container nav ul{
    width: 65%;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    transition: all 0.5s ease;
}

.container nav ul li{
    width: 20%;
    float: left;
    text-align: center;
    color: #eee;
    padding: 24px 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;

}

.container nav ul li:hover {
    color: #ea3b50;
    box-shadow: inset 0 5px #ea3b50;
}
.container nav ul li ul.sub-nav{
    position: absolute;
    background: rgba(0, 0, 0, 0.338);
    width: 87%;
    height: 250px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.14), -1px 0px 1px rgba(0,0,0,0.14);
    top: 75px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
}
.container nav ul li ul.sub-nav li, nav ul li ul.sub-nav li a{
    color: #eee;
    font-size: 14px;
    width: 80%;
    padding: 15px 0;
    text-decoration: none;
}

.container nav ul li ul.sub-nav li:hover a{
    color: #ea3b50;
    box-shadow: inset 0 0 #ea3b50;
}
.container nav ul li:hover ul.sub-nav{
    visibility: visible;
    opacity: 1;
}

.row {
    padding-top:150px;
    margin-bottom: 10px;
    text-align: center;
}
.row h1 {
        padding-left: 20px;
        font-family: serif;
        font-size: 4rem;
        background: linear-gradient(to right, #efff41ac, #f9a825a4, #f48fb1c7, #7e57c2b8, #7e57c276, #2195f3d1, #26c5dac4, #ff5722);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.column {
    float: left;
  }
  
.left {
    width: 65%;
  }
  
.right {
    width: 35%;
  }
.placeholder{
    background-color:rgba(255, 255, 255, 0.65);
    height: 500px;
    width: 500px;
}

