<script src="https://kit.fontawesome.com/1c8eefd787.js" crossorigin="anonymous"></script>
<div class="center">
    <img style="width: 5%" src="./images/logo/logoE.png">
</div>

<nav>
    <div class="websiteNav">
        <ul>
            <li onclick="loadPage('');"><a>Home</a></li>
            <li onclick="loadPage('how-we-serve.html');"><a>How We Serve</a></li>
            <li onclick="loadPage('completed-jobs.html');"><a>Gallery</a></li>
            <li onclick="loadPage('contact-us.html');"><a>Contact Us</a></li>
        </ul>
    </div>
    <div class="socialMediaNav">
        <ul>
            <li class="facebookLogo icon"><a href="https://www.facebook.com/EnigmaPG" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="instagramLogo icon"><a href="https://www.instagram.com/enigma_pg/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="snapchatLogo icon"><a href="https://www.snapchat.com/add/enigma_pgllc" target="_blank"><i class="fa-brands fa-snapchat"></i></a></li>
            <li class="emailLogo icon"><a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
        </ul>
    </div>
</nav>

