<footer>
    <div class="mainFooter">
        <h3><a href="breathtakingdalmadoodle.co">Designed by Breathtaking Dalmadoodle inc. &copy; 2022</a></h3>
        <div class="media">
            <ul>
                <a href="https://www.freecodecamp.org/bryant_deluna" target="_blank"><li><i class="fa-brands fa-free-code-camp"></i></li></a>
                <a href="https://www.codecademy.com/profiles/bryant_deluna" target="_blank"><li><i class="fa-solid fa-code"></i></li></a>
                <a href="https://github.com/bryantd0208" target="_blank"><li><i class="fa-brands fa-github"></i></li></a>
                <a href="https://www.linkedin.com/in/bryant-de-luna-peralta-51a0671b8/" target="_blank"><li><i class="fa-brands fa-linkedin"></i></li></a>
                <a href="https://uncc.instructure.com/courses/178981/users/164769" target="_blank"><li><i class="fa-solid fa-graduation-cap"></i></li></a>
            </ul>
        </div>
    </div>
    <div class="validation">
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
            <img src="images/button-valid-html5.gif" width="88" height="31" alt="Validate webpage HTML." />
        </a>            
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
            <img src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator">
        </a>
    </div>
</footer>