<header>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="introduction.html">About Me</a></li>
                <li><a href="assignments.html">Course Assignments</a></li>
                 <li>Webpages
                   <ul class="sub-nav">
                       <li><a href="https://bryantd0208.github.io/">Github Root Page</a></li>
                       <li><a href="https://bryantd0208.github.io/itis3135">Github WebPage</a></li>
                       <li><a href="https://webpages.charlotte.edu/bdelunap/itis3135/">UNCC Webpage</a></li>
                   </ul> 
            </ul>
        </nav>
    </div>    
    <h1>Bryant De Luna-Peralta | Breathtaking Dalmadoodle | ITIS 3135</h1>
</header>